<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @passenger.number_id %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @passenger.sex %>
</p>

<p>
  <strong>Cellphone number:</strong>
  <%= @passenger.cellphone_number %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
